.landing {
  background-image: linear-gradient(239.17deg, rgba(0, 0, 0, 0.28) 3.88%, rgba(0, 0, 0, 0.55) 47.7%), asset-url('bar.jpg');
  background-size: cover;
  margin: 0;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  h1 {
    font-weight: 500;
    font-size: 50px;
  }
  h2 {
    font-weight: 500;
    font-size: 30px;
  }
}

.search-bar {
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  width: 350px;
  height: 66px !important;
  border-radius: 33px !important;
  color: #E67E22 !important;
}
