<style>
  .container-footer {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    color: white;
  }
</style>
<div class="container-footer">
  <div class="icons">
    <a class="icon" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i> </a>
    <a class="icon" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="icon" href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

