<style>
  <% if request.path == root_path %>
      .containter-footer {
        position: absolute !important;
        bottom: 0 !important;
      }
      .container-footer a {
        color: white !important;
      }
      body {
      position: static;
      }

    <% else %>
      .container-footer a {
        color: black !important;
      }
    <% end %>

</style>
<div class="container-footer">
  <div class="icons">
    <a class="icon" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i> </a>
    <a class="icon" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="icon" href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

