<h1>Info about this specific batch</h1>
<li><strong>batch description:</strong><%= @batch.description %></li>
<li><strong>batch quantity:</strong><%= @batch.quantity %></li>
<li><strong>Bottled on:</strong><%= @batch.bottled_date %></li>
