
.batch-title {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.go-to-beers-btn {
  color: black !important;
}

.under-title {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.batch-show-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-photo-on-batch {
  width: 75vw;
  height: 400px;
  object-fit: contain;
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))
          drop-shadow(0px 0px 10px rgba(0,0,0,.3));
  border-radius: 2px;
}

.batch-info-titles {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px;
  margin-left: -2px;
  margin-right: -2px;
}

div.batch-info-titles:nth-child(5){
  padding-right:20px;
  margin-left:-20px;
}

.batch-info {
  padding: 10px;
  margin: 12px;
  text-align: left;
}

.batch-review-title {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.show-batch-review {
  text-align: center;
  margin-left:10px;
  margin-right:10px;
}

.links-at-bottom {
  text-align: center;
}

.review-show {
  margin: 20px;
}

.add-review-batch-btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.add-review-batch-btn:hover {
  text-decoration: none !important;
  color: black !important;
}

.batch-list {
  text-align: left;
  padding-left: 20px;
  strong {
    margin-bottom: 5px;
    font-size: 1.1em;
    // border-bottom: .5px solid black;
  }
}
// opacity: 0.5 !important;
//   color: black;
