
.batch-review-title {
  font-weight: 300;
  color: #E67E22;
  font-size: 45px;
  text-align: center;
  margin: 25px;
}

.show-batch-review {
  text-align: center;
}

.add-review-batch-btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.add-review-batch-btn:hover {
  opacity: 0.5;
}
