@mixin flag-bel() {
  @include ratio(13 / 15);
  $black: #000;
  $yellow: #FFE936;
  $red: #FF0F21;

  @include three-columns($black, $yellow, $red);
};

.batch-title {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.under-title {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.beer-photo-on-batch {
  border-radius: 7px;
}

.batch-info-titles {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.batch-brewing-info {

}

.batch-info {
  padding: 10px;
  margin: 12px;
  text-align: left;
}

.batch-review-title {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.show-batch-review {
  text-align: center;
}

.links-at-bottom {
  text-align: center;
}

.review-show {
  margin: 20px;
}

.add-review-batch-btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.add-review-batch-btn:hover {
  text-decoration: none !important;
  color: black !important;
}

.batch-list {
  text-align: left;
  padding-left: 20px;
  strong {
    margin-bottom: 5px;
    font-size: 1.1em;
    // border-bottom: .5px solid black;
  }
}
// opacity: 0.5 !important;
//   color: black;
