.brewery-title {
  text-align: center;
  margin-top: 30px;
}

.brewery-container {
  text-align: center;
}

.brewery-photo {
  margin: 30px;
}

.show-brewery-card {
  align-items: center;
  // display: inline-block;
}

