.breweries-title {
  margin-top: 35px;
  text-align: center;
}
.breweries-wrapper {
  background-color: white;
}

.breweries-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
}

.brewery-card {
  color: white;
  margin: 35px;
  position: relative;
}

.brewery-card-image {
  background-size: cover;
  width: 300px;
  height: 500px;
  // border-radius: 5px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.5);
}

.brewery-card-name {
  position: absolute;
  left: 10px;
  top: 10px;
}

.brewery-card-address {
 position: absolute;
 right: 10px;
 bottom: 10px;
}
