$height: 55px;

.container-footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  height: $height;
  padding-bottom: 13px;
}

.icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  a:hover {
    opacity: 0.7;
    color: white;
  }
}

.icon {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

body {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
