.notification-container {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  img {
    margin-right: 15px;
  }
  a.notification-link {
    color: black;
    font-weight: 300;
  }
  p {

    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.kill-margin {
  margin: 0 !important;
}

.kill-padding {
  padding: 0 !important;
}

.lil-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.fullscreen {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.add-friend-btn {
  color: #696969 !important;
  border: 2px solid #696969;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 2px;
  margin: 10px;
  &:hover {
    opacity: 0.5;
  }
}

.filter-btn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}

.notif-filter-btns {
  display: flex;
  justify-content: space-around;
}

div.notification-container:nth-child(even) {
    background-color: #F5F5F5;
}

.timestamp {
  font-weight: 100;
  margin-left: 15px;
}
