.friend-btn-container{
  display:flex;
  justify-content:space-around;
  width:120px;
  align-items:center;
  border:1px solid;
  border-radius:5px;
  height:35px;
  background-color:#EAC343;
  color:white;
  a{
      color:white;
  }
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.search-friends-container {
  width:250px;
  border:1px solid;
  padding:10px;
  border-radius:10px;
  margin:20px;
  h3 {
    font-weight: 300;
  }
}

#new_user {
  font-weight: 100;
  .btn {
    border: 1px solid;
    background-color: #DCDDDC;
  }
}
