.wrapper-posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px
}

div.wrapper-post:nth-child(even) {
  background-color: #F5F5F5;
  .wrapper-comments {
    background-color: white;
    .arrow-up {
      border-bottom:10px solid white;
    }
  }
}

div.wrapper-post:nth-child(odd) {
  .wrapper-comments {
    background-color: #F5F5F5;
    .arrow-up {
      border-bottom:10px solid #F5F5F5;
    }
  }
}


.wrapper-post {
  width: 100%;
}

.box-post {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 15px;

}

.info-post {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
    a{
      margin-bottom: 2px;
    }

    img {
      margin-bottom: 15px;
    }
    i {
      margin-left: 5px;
      align-self: center;
    }
    p {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
}

.avatar-post {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}

.likes {
  display: flex;
  color: black;
}

.liked {
  color: $shane !important;
}

.fa-star {
  color: $shane;
}

.comments {
  display: flex;
  &:hover {
    color: $shane;
  }
  color: black;
}

.big-content-post {
  flex-grow: 1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.title-post {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}

.content-post {
  font-size: 15px;
  height: auto;
  font-weight: 100;
  margin-bottom:0;
}

.hidden {
  display: none !important;
}

.wrapper-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom:10px;
  margin-bottom:15px;
  margin-left:65px;
  border:none;
  border-width:1px;
  position:relative;
  border-radius:20px;
  border-color:#686868;
  margin-right:10px;
  form {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    height: 40px;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;

  position:absolute;
  top:-10px;
  left:50px;
}

.box-comment {
  padding: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
}

.avatar-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}


.list-comments {
  padding-left: 0px;
  font-size: 15px;
  font-weight: 100;
  margin-left:15px;
  margin-right:15px;
}

#comment_batch_content {
  height: 30px;
}

.small-padding {
  padding-left: 15px;
  padding-right: 15px;
}

